https://oauth.omni-trade.xyz:8180 {
	handle {
		reverse_proxy keycloak:8080 {
		}
	}
}

https://orders.omni-trade.xyz {
        handle {
                reverse_proxy orders:8080 {
                }
        }
}

https://www.omni-trade.xyz {
        file_server {
                root /usr/share/caddy
        }
}
