https://oauth.omni-trade.xyz {
	handle {
		reverse_proxy 10.0.0.19:8080 {
		}
	}
}

https://orders.omni-trade.xyz {
        handle {
                reverse_proxy 10.0.0.19:8880 {
                }
        }
}

https://www.omni-trade.xyz {
        file_server {
                root /usr/share/caddy
        }
}
